<!DOCTYPE html>
<html>
	<head>
		<title>Terminal</title>
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="terminal.css">
		<script type="text/javascript" src="terminalFunctions.js"></script>
	</head>
	<body style="background-color: black; overflow: hidden">
		<div class="outerBorder">
			<div class="innerBorder">
				<form id="submitForm" action="?">
					<div id="row1" class="row"></div>
					<div id="row2" class="row"></div>
					<div id="row3" class="row"></div>
					<div id="row4" class="row"></div>
					<div id="row5" class="row"></div>
					<div id="row6" class="row"></div>
					<div id="row7" class="row"></div>
					<div id="row8" class="row"></div>
					<div id="row9" class="row"></div>
					<div id="row10" class="row"></div>
					<div id="row11" class="row"><pre>                         Loading...</pre></div>
					<div id="row12" class="row"></div>
					<div id="row13" class="row"></div>
					<div id="row14" class="row"></div>
					<div id="row15" class="row"></div>
					<div id="row16" class="row"></div>
					<div id="row17" class="row"></div>
					<div id="row18" class="row"></div>
					<div id="row19" class="row"></div>
					<div id="row20" class="row"></div>
					<div id="row21" class="row"></div>
					<div id="row22" class="row"></div>
				</form>
			</div>
		</div>
	</body>
</html>
