<div class="item">
	<div class="itemLabelWide">
		Behaviour controls are {{:data.locked ? "locked" : "unlocked"}}.
	</div>
</div>
<br>
{{if data.access}}
    <div class="item">
		<div class="itemLabelWide">
			Turret Status:
		</div>
		<div class="itemContentNarrow">
			{{:helper.link('Enabled', null, {'command' : 'enable', 'value' : 1},  data.enabled ?'redButton' : null)}}
			{{:helper.link('Disabled',null, {'command' : 'enable', 'value' : 0}, !data.enabled ? 'selected' : null)}}
		</div>
	</div>	

	{{if data.cannot_cycle_firemode}}
			<div class="item">
				<div class="itemLabelWide">
					Firemode: ERROR
				</div>
			</div>
	{{else}}
		{{if data.current_firemode}}
			<div class="item">
				<div class="itemLabelWide">
					Firemode: {{:data.current_firemode}}
				</div>
				<div class="itemContentNarrow">
					{{:helper.link('Cycle', null, {'cycle_firemode' : 1},  null)}}
				</div>
			</div>	
		{{/if}}
	{{/if}}
		
    {{for data.settings}}
        <div class="item">
            <div class="itemLabelWide">
                {{:value.category}}
            </div>
            <div class="itemContentNarrow">
                {{:helper.link('On', null, {'command' : value.setting, 'value' : 1},  value.value ? 'selected' : null)}}
                {{:helper.link('Off',null, {'command' : value.setting, 'value' : 0}, !value.value ? 'selected' : null)}}
            </div>
        </div>
    {{/for}}
{{/if}}
